@()(implicit messages: Messages)

<header id="header">
  <h1 id="logo"><a href="index.html">@Messages("home.header.logo.link")</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="index.html">@Messages("home.header.nav.link.1")</a></li>
      <li>
        <a href="#">@Messages("home.header.nav.link.2")</a>
        <ul>
          <li><a href="left-sidebar.html">@Messages("home.header.nav.link.2.1")</a></li>
          <li><a href="right-sidebar.html">@Messages("home.header.nav.link.2.2")</a></li>
          <li><a href="no-sidebar.html">@Messages("home.header.nav.link.2.3")</a></li>
          <li>
            <a href="#">@Messages("home.header.nav.link.2.4")</a>
            <ul>
              <li><a href="#">@Messages("home.header.nav.link.2.4.1")</a></li>
              <li><a href="#">@Messages("home.header.nav.link.2.4.2")</a></li>
              <li><a href="#">@Messages("home.header.nav.link.2.4.3")</a></li>
              <li><a href="#">@Messages("home.header.nav.link.2.4.4")</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="elements.html">@Messages("home.header.nav.link.3")</a></li>
      <li><a href="#" class="button special">@Messages("home.header.nav.link.4")</a></li>
    </ul>
  </nav>
</header>
