@*
* This template takes no arguments but an implicit messages provider for i18n purposes.
*@
@()(implicit messagesProvider: MessagesProvider)

@main("Gallery") {

    <!-- Main -->
    <div id="main" class="wrapper style1">
        <div class="container">
            <header class="major">
                <h2>@Messages("home.gallery.banner.header.h2")</h2>
                <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
            </header>

            <!-- Image -->
            <section>
                <h3>Image</h3>
                <h4>Fit</h4>
                <div class="box alt">
                    <div class="row 50% uniform">
                        <div class="12u$"><span class="image fit"><img src="@routes.Assets.versioned("images/GB-Teams-Union.jpg")" alt="" /></span></div>
                        <div class="4u  6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" /></span></div>
                        <div class="4u  6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" /></span></div>
                        <div class="4u$ 6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic04.jpg")" alt="" /></span></div>
                        <div class="4u  6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic04.jpg")" alt="" /></span></div>
                        <div class="4u  6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" /></span></div>
                        <div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" /></span></div>
                        <div class="4u  6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" /></span></div>
                        <div class="4u  6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic04.jpg")" alt="" /></span></div>
                        <div class="4u$ 6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" /></span></div>
                        <div class="4u  6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic02.jpg")" alt="" /></span></div>
                        <div class="4u  6u(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic03.jpg")" alt="" /></span></div>
                        <div class="4u$ 6u$(xsmall)"><span class="image fit"><img src="@routes.Assets.versioned("images/pic04.jpg")" alt="" /></span></div>
                    </div>
                </div>
            </section>

        </div>
    </div>

}
