@()(implicit messagesProvider: MessagesProvider)

<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon alt fa-twitter"><span class="label">@Messages("common.footer.social.link.twitter")</span></a></li>
        <li><a href="#" class="icon alt fa-facebook"><span class="label">@Messages("common.footer.social.link.facebook")</span></a></li>
        <li><a href="#" class="icon alt fa-linkedin"><span class="label">@Messages("common.footer.social.link.linkedin")</span></a></li>
        <li><a href="#" class="icon alt fa-instagram"><span class="label">@Messages("common.footer.social.link.instagram")</span></a></li>
        <li><a href="#" class="icon alt fa-github"><span class="label">@Messages("common.footer.social.link.github")</span></a></li>
        <li><a href="#" class="icon alt fa-envelope"><span class="label">@Messages("common.footer.social.link.email")</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy;&nbsp;@Messages("common.footer.copyright.text.1")</li><li>@Messages("common.footer.copyright.text.2")&nbsp<a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>
